extends layout

block content
  table(id="template-data")
    thead
      tr
        th key
        th value
        th -
    tfoot
      tr
        th(colspan=3)
          button(id="add-row") Add row
    tbody

  div(id="rendered-template")!= renderedTemplate
  div(id="markdown-template")!= template
  script(src='/static/javascripts/markdown-it.min.js')
  script(src='/static/javascripts/mustache.min.js')
  script(src='/static/javascripts/preview.js')
